<!DOCTYPE html>
<html>
<head>
  <title>UR SOCIAL BOOK WELCOMES U</title>
  <%= stylesheet_link_tag  :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>

<body id ="store">
 
  <div id= "banner"></div>
  

    <div id="side" >

   </div>
  <p class="notice"><%=  notice %></p>
  <p class="alert"><%=  alert %></p>
<%= yield %>

</body>
</html>
